<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>20117</display-name>
<!-- 클라이언트로부터 웹 애플리케이션의 루트 디렉터리 요청이 들어 왔을 때 보여주는 페이지 설정 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 서블릿 환경설정  -->
	<servlet>
		<servlet-name>front</servlet-name>
		<servlet-class>com.msb.controller.FrontController</servlet-class>
		<!-- 한글 인코딩 파라미터 초기화 -->
		<init-param>
			<param-name>charset</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>front</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>